* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-SoundButton: #E1E1E6;
    --bg-SoundRainButtonHover: #016b8b;
    --bg-SoundForestButtonHover: #04bd3c;
    --bg-SoundFireButtonHover: #c00303;
    --bg-SoundCoffeeButtonHover: rgb(85, 67, 67);

    --bg-darkmode: #020416;
}

body {
    font-family: 'Roboto', sans-serif;

    min-height: 100vh;
    display: grid;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-self: center;

    gap: 19.2rem;

    margin: 19.6rem auto 18.8rem;
}

main {
    align-self: center;
    transition: ease all .5s;
    animation: topDown 0.7s;
}

.timer {
    font-size: 12.61rem;

    border-radius: 2.48rem;
    margin-bottom: 1.8rem;
}

.controls {
    display: flex;
    gap: 4rem;
}


footer {
    transition: ease all .5s;
}

.sounds {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;

    animation: fromRightLeft 0.7s;
    
}

.controls button {
    border: 0;
    background: none;

    cursor: pointer;
}

.sounds button {
    border: 0;
    padding: 4.8rem 4.3rem;
    border-radius: 2.4rem;
    background: var(--bg-SoundButton);

    cursor: pointer;

    width: clamp(12rem, 10rem + 30vw, 13.8rem);
    height: clamp(14rem, 5rem + 10vw, 15.2rem);
    transition: 0.3s;

}



/* hover */

.sounds .rain:hover,
.sounds .rain:active{
    background-color: var(--bg-SoundRainButtonHover);

}

.sounds .forest:hover,
.sounds .forest:active {
    background-color: var(--bg-SoundForestButtonHover);
}

.sounds .fire:hover,
.sounds .fire:active {
    background-color: var(--bg-SoundFireButtonHover);
}

.sounds .coffee:hover,
.sounds .coffee:active {
    background-color: var(--bg-SoundCoffeeButtonHover);
}

.play:hover svg path,
.play:active svg path {
    fill: var(--bg-SoundForestButtonHover);
    transition: 0.3s;

}

.stop:hover svg path {
    fill: rgb(206, 2, 2);
    transition: 0.3s;

}

.rain:hover svg path,
.rain:active svg path,
.forest:hover svg path,
.forest:active svg path,
.fire:hover svg path,
.fire:active svg path,
.coffee:hover svg path,
.coffee:active svg path{
    fill:white
}

/* animations */
 @keyframes topDown {
    0% {
      transform: translateY(-300px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fromRightLeft {
    0% {
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0);
    }
  }

  @keyframes fromLeftRight {
    0% {
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0);
    }
  }
  
/* mobile */

@media only screen and (max-width: 900px) {

    .container {
        gap: 12.2rem;
        display: block;
    }

    footer {
        padding-top: 5rem;
        padding-bottom: 17rem;
    }

    .timer {
        animation: fromLeftRight 0.7s;
    }

    .controls {
        animation: fromRightLeft 0.7s;
    }

    .sounds {
        animation: fromRightLeft 0.7s;
    }
}

@media screen and (prefers-color-scheme:dark) {
    body {
        background-color: var(--bg-darkmode);
        color: white;
    }
    
    .sounds button {
        background: #29292E;
    }

    svg path {
        fill: white;
    }

}